<mat-toolbar color="primary" class="leetcode-header">
    <div class="container">
      <div class="nav-links">
        <a mat-button routerLink="/home-component">Problem List  </a>
        <a mat-button routerLink="/past-submissions">Past Submissions</a>
      </div>
      <div class="logout-button">
        <button mat-raised-button color="warn" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log Out</span>
        </button>
      </div>
    </div>
  </mat-toolbar>
  