.leetcode-header {
    background-color: #2f3238; /* Dark background color similar to LeetCode */
  }
  

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    /* Change the color to your preferred value */
    text-decoration: none;
    margin-right: 10px;
}

.logout-button button {
    background-color: #ff3d00; /* Change to your preferred color */
    color: white; /* Text color */
  }
  
  .logout-button button:hover {
    background-color: #d50000; /* Change to a darker shade on hover */
  }